@import "tailwindcss";

:root {
  --primary-text: #161512;
  --primary-background: #dad7cd;
  --primary-green: #588157;
}

@theme inline {
  --color-primary-background: var(--primary-background);
  --color-primary-green: var(--primary-green);
  --color-primary-text: var(--primary-text);
  --font-sans: var(--font-noto-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  background: var(--primary-background);
  color: var(--primary-text);
  font-family: var(--font-sans), sans-serif;
}
